@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #eb8108;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #1c0e4e;;

    --cor-hover1: #27232315;
    --cor-hover2:#1f1f4986;
    --cor-hover3:#58656d73;

    --font-primaria: "Inter", sans-serif;
    --font-secundaria: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-terciaria);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    background-color: var(--cor-primaria);
    width: 100%;
}

.cabecalho__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0;
    gap: 64px;
}

.cabecalho__links a {
    display: flex;
    gap: 10px;
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.5rem;
    width: 483.65;
    font-family: var(--font-primaria);
    text-decoration: none;
    align-items: center;
}

.cabecalho__links a:hover{
    color: var(--cor-hover3)
}

.inscricao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.inscricao__conteudo{
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    border-radius: 2rem;
    padding: 20px 10px;
    box-shadow: 0px 0px 3rem #0000001a;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inscricao__conteudo__titulo {
    color: var(--cor-primaria);
    font-family: var(--font-secundaria);
    font-size: 20px;
    text-align: center;
}

.inscricao__conteudo__formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.inscricao__imagem {
    width: 50%;
    border-radius: 20%;
}

.inscricao__conteudo__formulario label {
    font-family: var(--font-primaria);
    font-size: 10px;
}

.inscricao__conteudo__formulario input[type="email"],
.inscricao__conteudo__formulario input[type="date"],
.inscricao__conteudo__formulario input[type="text"],
.inscricao__conteudo__formulario input[type="tel"] {
    
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
}

.inscricao__conteudo__formulario input[type="submit"][value="Enviar"] {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    font-family: var(--font-secundaria);
    font-size: 10px;
} 

.inscricao__conteudo__formulario input[type="submit"][value="Limpar formulário"] {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-family: var(--font-secundaria);
    font-size: 10px;
}
 .inscricao__conteudo__formulario__submit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

.rodape {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.rodape__desenvolvedor{
    font-family: var(--font-secundaria);
    font-size: 16px;
    color: var(--cor-secundaria);
    text-align: center;
}

.inscricao__conteudo__formulario input[type="email"]:hover,
.inscricao__conteudo__formulario input[type="date"]:hover,
.inscricao__conteudo__formulario input[type="text"]:hover,
.inscricao__conteudo__formulario input[type="tel"]:hover{
    background-color: var(--cor-hover1);
} 

.inscricao__conteudo__formulario input[type="submit"][value="Enviar"]:hover{
    background-color: var(--cor-hover2);
    color: var(--cor-primaria);
}

.inscricao__conteudo__formulario input[type="submit"][value="Limpar formulário"]:hover{
    background-color: var(--cor-hover3);
}

@media (max-width: 768px) {
    .cabecalho__links {
        flex-direction: row;
        align-items: center;
    }

    .inscricao {
        flex-direction: column-reverse;
        height: auto;
        padding: 2rem;
    }

    .inscricao__conteudo {
        padding: 2rem;
    }

    .inscricao__conteudo__formulario input[type="email"],
    .inscricao__conteudo__formulario input[type="date"],
    .inscricao__conteudo__formulario input[type="text"],
    .inscricao__conteudo__formulario input[type="tel"] {
        padding: 1rem;
        margin-bottom: 1.5rem;
        margin-left: 0%;
        text-align: start;
    }

    .inscricao__conteudo__formulario input[type="submit"][value="Enviar"] {
        padding: 1rem 0;
    }
    .inscricao__conteudo__formulario input[type="submit"][value="Limpar formulário"] {
        padding: 1rem 0;
    }
}